@page
@model IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Файлы";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width-device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
</head>
<body class="dx-viewport dx-device-desktop dx-device-generic dx-theme-material-typography dx-color-scheme-blue-dark">
<div id="app"></div>
<script src="~/bundles/js/vendors.js" asp-append-version="true"></script>
<script src="~/bundles/js/devextreme.js" asp-append-version="true"></script>
<script src="~/bundles/js/main.js" asp-append-version="true"></script>
</body>
</html>